@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Students Database</h1>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2>@Html.ActionLink("Students", "Index", "Students", new { area = "" }, new { @class = "nav-link" })</h2>
            <h2>@Html.ActionLink("Classes", "Index", "Classes", new { area = "" }, new { @class = "nav-link" })</h2>
            <h2>@Html.ActionLink("Subjects", "Index", "Subjects", new { area = "" }, new { @class = "nav-link" })</h2>
        </section>
    </div>
</main>